.table-container {
    height: 100%;
    width: 100%;
}

.table-content {
    position: relative;
}

.table-container .cell {
    /* display: table; */
    border-right: 2px solid rgba(36, 41, 46, 0.07);
}

.table-container .left-grid-wrapper {
    border-right: 2px solid rgba(100, 100, 100, 0.2);
}

.table-grid {
    .cell {
        font-size: 12px;
    }
    .cell.col-index {
        color: #888;
        overflow: hidden;
    }
    // border-top: 5px solid rgba(100, 100, 100, 0.5);
}

.cell .cell-content {
    border-top: 2px solid rgba(36, 41, 46, 0.07);
    border-bottom: 1px solid rgba(36, 41, 46, 0.07);
    /* display: table-cell; */
    /* vertical-align: middle; */
    height: 100%;
    display: flex;
    align-items: center;
    span {
        margin: auto;
    }
}

.table-header,
.table-subset {
    position: relative;
    border-bottom: 2px solid rgba(100, 100, 100, 0.2);
    .cell {
        margin: auto;
        font-size: 13px;
        /* line-height: 30px; */
    }
}

// .table-header {
//     border-bottom: 5px solid rgba(100, 100, 100, 0.5);
// }

/* Custom scrollbars are not supported in Firefox or IE/Edge. */

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}

.scrollbar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #ccc;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}

.fixed-scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border: 0.5px solid #eee;
    /* background-color: #aaa; */
}

.col-resizer {
    cursor: col-resize;
    position: absolute;
    user-select: none;
    height: 100%;
    right: -4px;
    width: 8px;
    top: 0px;
}

.cell {
    .cut-text {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.cell .row-title .arrow {
    position: absolute;
    top: 0;
    height: 100%;
    right: 12px;
    cursor: pointer;
    opacity: 1e-6;
    transition: opacity 0.3s;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

.table-header .cell .row-title {
    i:focus {
        outline: none;
    }
    &:hover .arrow {
        opacity: 0.6;
        transition: opacity 0.3s;
    }
    .arrow:hover {
        opacity: 0.5;
        transition: opacity 0.3s;
    }
    .arrow.sorted {
        opacity: 0.6;
    }
    .arrow svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.3s ease-in-out;
    }
    .arrow.ascend svg {
        transform: translate(-50%, -50%) rotate(180deg);
        transition: transform 0.3s ease-in-out;
    }
}

.customized-dropdown-link {
    margin-top: 30px;
}

div.option-container {
    background-color: #eee;
    stroke-width: 1px;
    stroke: black;
}