.form-item-font {
    font: 10px sans-serif;
    font-weight: bold;
}

div.pcp-svg-container,
.hist-svg-container {
    position: absolute;
    top: 10;
}

div.instance-body-container {
    width: 100%;
    height: auto;
    position: relative;
}

div.instance-vis-container {
    position: absolute;
    height: 80%;
    overflow: scroll;
}

div.feature-title {
    height: 30px;
    width: 100%;
    align-content: left;
    align-items: left;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
}

div.feature-container {
    height: 100px;
}

span.target-title {
    font-size: 10px;
    font: bold;
    line-height: 30px;
    margin-right: 10px;
    float: left;
}