.form-item-font {
    font: 14px sans-serif;
    font-weight: bold;
}

div.pcp-svg-container,
.hist-svg-container {
    position: absolute;
    top: 10;
}

div.instance-body-container {
    width: 100%;
    height: auto;
    position: relative;
}

div.instance-vis-container {
    position: relative;
    height: 80%;
    overflow: scroll;
}

span.target-title {
    font-size: 14px;
    font: bold;
    line-height: 30px;
    margin-right: 10px;
    float: left;
}