.bar-chart svg rect {
  fill: #aaa;
  opacity: 0.7;
}

.bar-chart .info {
  line-height: 14px;
  height: 14px;
  font-size: 12px;
  text-align: left;
  margin-left: 6px;
}

.bar-chart svg rect.shade {
  fill: #aaa;
  opacity: 0;
}

.bar-chart svg rect.shade:hover {
  opacity: 0.4;
}