.bar-chart svg {
    vertical-align: top;
    rect {
        opacity: 0.7;
    }
    .base rect {
        /* fill: rgb(109, 160, 202); */
        opacity: 0.4;
    }
    rect.shade {
        fill: #aaa;
        opacity: 0;
        &:hover {
            opacity: 0.4;
        }
    }
    rect.show {
        opacity: 0.4;
    }
}