.cf-numerical .cf path.base {
    stroke: #aaa;
}

.cf-numerical .cf rect.diff.increase {
    opacity: 0.4;
    fill: rgb(157, 189, 120);
}

.cf-numerical .cf rect.diff.decrease {
    opacity: 0.4;
    fill: rgb(192, 111, 91);
}

.cf-categorical rect.diff {
    opacity: 0.2;
}

rect.row-base {
    opacity: 0;
}

rect.base {
    fill: #999
}

rect.diff {
    fill: #bbb
}