.feature-cf rect.base {
  fill: #aaa;
  opacity: 0.5;
}

.feature-cf rect.diff.increase {
  fill: rgb(93, 164, 223);
  opacity: 0.5;
}

.feature-cf rect.diff.decrease {
  fill: rgb(231, 117, 117);
  opacity: 0.5;
}

svg.feature-cf {
  position: absolute;
  top: 1px;
  left: 0;
}