.histogram svg {
  margin-bottom: 0;
  cursor: crosshair;
}

.histogram svg rect {
  /* fill: rgb(109, 160, 202); */
  opacity: 0.6;
}

.histogram svg .base rect {
  /* fill: rgb(109, 160, 202); */
  opacity: 0.4;
}

.histogram svg rect.shade {
  fill: #aaa;
  opacity: 0;
}

.histogram svg rect.shade:hover {
  opacity: 0.4;
}

.histogram .info {
  line-height: 14px;
  height: 14px;
  font-size: 12px;
  text-align: left;
  margin-left: 6px;
}

.histogram svg rect.shade.show {
  opacity: 0.4;
}